<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/rules.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="game-information">
        <form action="/index" method="post" class="button-game">
            <div class="button-game">
                <input type="submit" value="Accueil" name="home" id="home" class="game-help"> 
              </div>
        </form>
        <form action="/menu" method="post" class="button-game">
            <div class="button-game">
                <input type="submit" value="Jouez" name="game" id="game" class="game-help"> 
              </div>
        </form>
    </div>
    <h1 class="rules">Règles</h1>
        <div class="rules">
            <form action="/rules" method="post">

<p>Bienvenue dans le jeu du Pendu ! <br>
 Le but du jeu est de trouver le mot <br>
 Vous avez 10 essais <br>
 Si vous mettez une mauvaise lettre vous perdez 1 essai <br>
 Si vous trouvez pas le mot au bout de 10 essais vous perdez <br>
 Dans le cas ou vous gagnez, vous pouvez ajouter un mot dans le niveau de difficulter choisi <br>
 Bonne chance ! <br>
    </p>
    </form>
</div>
</body>
</html>